/* reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 22px;
}
img {
  width: 100%;
}
.area {
  width: 1000px;
  margin: 0 auto;
}
.fix::before,
.fix::after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style: none;
}
.btn {
  display: inline-block;
  background-color: tomato;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}
.btn:hover {
  background-color: chocolate;
}
/* header_start */
.header {
  background-color: #dddddd;
  padding: 20px;
}
.logo {
  float: left;
  width: 250px;
  margin-right: 30px;
}
.logo a {
}
.logo a img {
}
.menu {
  float: right;
  width: 680px;
}
.menu ul {
  text-align: right;
  margin-top: 14px;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  font-size: 20px;
  transition: 0.5s;
}
.menu ul li a:hover {
  background-color: coral;
}
/* header_end */

/* banner_start */
.banner {
}
.banner img {
}
/* banner_end */
/* service_start */
.services {
  padding-bottom: 30px;
}
.title {
}
.title h4 {
  margin: 40px 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}
.service {
}
.single_service {
  float: left;
  width: 313px;
  background-color: teal;
  margin-right: 30px;
  padding: 20px;
  color: white;
}
.single_service:last-child {
  margin-right: 0;
}
.single_service h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: capitalize;
}
.single_service img {
}
.single_service p {
}
.single_service a {
}

/* service_end */
/* about-css */
.about {
}
.about-left {
  font-size: 20px;
  float: left;
  width: 700px;
  margin-right: 30px;
}
.about-left h4,
.about-menu h4 {
  padding-top: 40px;
  font-size: 30px;
  margin-bottom: 10px;
}
.about-left h4 p {
  margin-bottom: 10px;
}
.about-left h4 a {
}
.about-menu {
  float: right;
  width: 248px;
}
.about-menu ul {
}
.about-menu ul li {
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: -8px 1px;
  padding-left: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.about-menu ul li:last-child {
  border-bottom: none;
}
.about-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: black;
}
.about-menu ul li :hover {
  color: tomato;
}

/* footer-css */
.footer {
  margin: 35px 0;
  padding: 30px;
  text-align: center;
  background-color: teal;
}
.footer p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
/* page bannar css */
.page-banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  position: relative;
  z-index: 2;
}
.page-banner::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.6;
}
.page-banner h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  color: white;
}

/* service-section */
.service-section .single_service {
  width: 227px;
  display: inline;
  margin-bottom: 20px;
}
.service-section,
.single_service:nth-child(4) {
  margin-right: 0;
}
